/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Luckiest Guy Regular'), local('LuckiestGuy-Regular'), url(https://fonts.gstatic.com/s/luckiestguy/v10/_gP_1RrxsjcxVyin9l9n_j2hTd5z.ttf) format('truetype');
}
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'), url(https://fonts.gstatic.com/s/permanentmarker/v9/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Ceg.ttf) format('truetype');
}
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Righteous'), local('Righteous-Regular'), url(https://fonts.gstatic.com/s/righteous/v8/1cXxaUPXBpj2rGoU7C9WiHGA.ttf) format('truetype');
}
body {
  font-size: 62.5%;
}
.container header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container header .header-img {
  width: 35%;
}
.content-on-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  position: absolute;
}
.content-on-header h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 2rem;
  margin-top: 3%;
}
.content-on-header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(2deg);
}
.content-on-header nav a button {
  padding: 1%;
  background-color: #FF9F1C;
  box-shadow: 0 4px grey;
  border-radius: 5px;
  width: 4rem;
  height: 3rem;
  color: #011627;
  font-family: 'Righteous', cursive;
  background: #F71735;
  color: #FDFFFC;
  margin: 0rem 1.5rem;
}
.content-on-header nav a button:hover {
  background: #011627;
  color: #FDFFFC;
}
.content-on-header nav a button:hover {
  background: #FDFFFC;
  color: #F71735;
}
.profile-pic {
  width: 25%;
}
.mid-section .buildings #intro img.grow {
  transition: all 200ms ease-in-out;
}
.mid-section .buildings #intro img.grow:hover {
  transform: scale(1.5);
}
