// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
//imports:
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Permanent+Marker|Righteous&display=swap');

//variables:

@h1-font: 'Luckiest Guy', cursive;

@h2-font: 'Righteous', cursive;

@p-font: 'Permanent Marker', cursive;

@dark-blue: #011627;

@red: #F71735;

@light-blue: #41EAD4;

@off-white: #FDFFFC;

@dark-yellow: #FF9F1C;

//mixins:
.center-row(){
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column(){
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.center-column-reverse(){
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
}

.general-btn-styling(){
	padding: 1%;
	background-color: @dark-yellow;
	box-shadow: 0 4px grey;
	border-radius: 5px;
	width: 4rem;
	height: 3rem;
	color: @dark-blue;
	font-family: @h2-font;
		&:hover{
			background: @dark-blue;
			color: @off-white;
		}
}


//main styles




body{
	font-size: 62.5%;
	background: skyblue;
}

.container{
	header{
		position: relative;
		.center-row();
		
			.header-img{
				width: 35%;
				
			}
	}	
}


.content-on-header{
	.center-column();
	width: 35%;
	position: absolute;
		h1{
			font-family: @h1-font;
			font-size: 2rem;
			margin-top: 3%;
		}
		nav{
			.center-row();
			transform: rotate(2deg);

			a{
				button{
					.general-btn-styling();
					background: @red;
					color: @off-white;
					margin: 0rem 1.5rem;
					
					&:hover{
						background: @off-white;
						color: @red;
					}
				}
			}
		}
}
				
.profile-pic{
	width: 25%;	
}	


.upper-section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	img{
		position: relative;
		width: 30%;
	}
	.clouds{
		position: absolute;
		.center-row();
		justify-content: flex-end;
		.cloud1{
			position: absolute;
			width: 35%;
		}

		.cloud2{
			.second-cloud{
				width: 28%;
				transform: scaleX(-1);
			}
		}

		.cloud3{
			width: 20%;
		}
	}

}


.mid-section{
	.buildings{
		#intro{
			img{
				&.grow{
				transition: all 200ms ease-in-out;
				&:hover{
					transform: scale(1.5);
				}
				}
			}
		}
	}
}